{% extends 'website/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load account socialaccount %}
{% load socialaccount %}

{% block title %}Sign In{% endblock %}


{% block content %}


    <section class="page-title" style="background-image:url('{%  static "assets/images/background/page-title.jpg" %}');margin-top:150px">
        <div class="auto-container">
			<h2>Login</h2>
			<ul class="bread-crumb clearfix">
				<li><a href="{% url 'website:home' %}">Home</a></li>
				<li>Login</li>
			</ul>
        </div>
    </section>

    <section class="register-one">
		<div class="auto-container">
			<h3>Welcome to alQuran Online! <br> Login NOW for an amazing Quran experience!</h3>
			<div class="row clearfix">

				<div class="register-one_column mx-auto col-lg-8 col-md-12 col-sm-12">
					<div class="register-one_column-outer">
						<!-- Login Form -->
						<div class="styled-form">

							<form method="post" action="https://themazine.com/html/Alquran-2/alquran/alquran/index.html">
								<div class="form-group">
									<input type="text" name="username" value="" placeholder="Username or email address*" required="">
								</div>
								<div class="form-group">
									<input type="password" name="password" value="" placeholder="Password*" required="">
								</div>
								<div class="form-group">
									<div class="check-box">
										<input type="checkbox" name="remember-password" id="type-1">
										<label for="type-1">Remember Me?</label>
									</div>
								</div>
								<div class="form-group d-flex align-items-center flex-wrap">
									<button class="theme-btn btn-style-one">
										<span class="btn-wrap">
											<span class="text-one">Login</span>
											<span class="text-two">Login</span>
										</span>
									</button>
									<a class="forgot-psw" href="#">Forgot your Password?</a>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

{% endblock %}


