{% extends 'website/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load account socialaccount %}
{% load socialaccount %}

{% block title %}Sign Up{% endblock %}


{% block content %}


    <section class="page-title"
             style="background-image:url('{% static "assets/images/background/page-title.jpg" %}');margin-top:150px">
        <div class="auto-container">
            <h2>Registration</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'website:home' %}">Home</a></li>
                <li>Registration</li>
            </ul>
        </div>
    </section>

    <section class="register-one">
        <div class="auto-container">
            <h3>Welcome to Learn Quran Online! <br> Register NOW for an amazing Quran experience!</h3>
            <div class="row clearfix">

                <div class="register-one_column col-lg-8 mx-auto col-md-12 col-sm-12">
                    <div class="register-one_column-outer border" style="background: transparent;">
                        <!-- Registration Form -->
                        <div class="styled-form">
                            <form method="post" action="{% url 'account_signup' %}">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="form-group">
                                    <button class="theme-btn btn-style-one">
                        <span class="btn-wrap">
                            <span class="text-one">Join</span>
                            <span class="text-two">Join</span>
                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

{% endblock %}


