{% extends "website/base.html" %}

{% load static %}

{% block title %}
    Contact
{% endblock %}

{% block content %}

    <section class="page-title"
             style="background-image:url(' {% static "assets/images/background/page-title.jpg" %}');margin-top:100px">
        <div class="auto-container">
            <h2>Contact</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'website:home' %}">Home</a></li>
                <li>Contact</li>
            </ul>
        </div>
    </section>

    <section class="contact-info">
        <div class="auto-container">
            <div class="inner-container">
                <div class="row clearfix">
                    <!-- Info Column -->
                    <div class="contact-info_column col-lg-4 col-md-6 col-sm-12">
                        <div class="contact-info_outer">
                            <div class="contact-info_icon fa-solid fa-location-dot fa-fw"></div>
                            <h4 class="contact-info_heading">Our Address</h4>
                            <div class="contact-info_text">{{ app.address }}</div>
                        </div>
                    </div>

                    <!-- Info Column -->
                    <div class="contact-info_column col-lg-4 col-md-6 col-sm-12">
                        <div class="contact-info_outer">
                            <div class="contact-info_icon fa-solid fa-phone fa-fw"></div>
                            <h4 class="contact-info_heading">Our Phone</h4>
                            <div class="contact-info_text"> {{ app.contact_phone1 }}<span>Let’s Talk {{ app.contact_phone1 }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- Info Column -->
                    <div class="contact-info_column col-lg-4 col-md-6 col-sm-12">
                        <div class="contact-info_outer">
                            <div class="contact-info_icon fa-solid fa-envelope fa-fw"></div>
                            <h4 class="contact-info_heading">Email address</h4>
                            <div class="contact-info_text">{{ app.contact_email1 }} <br> {{ app.contact_email1 }}</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="contact-form_box">
        <div class="auto-container">
            <h4>Feel free to write Islamic anytime</h4>

            <!-- Contact Form -->
            <div class="contact-form">
                <form method="post" id="contact-form" novalidate="novalidate">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group">
                        {{ form.full_name }}
                    </div>

                    <div class="form-group">
                        {{ form.email }}
                    </div>

                    <div class="form-group">
                        {{ form.message }}
                    </div>

                    <div class="form-group">
                        <div class="button-box">
                            <button type="submit" class="theme-btn btn-style-four">
                <span class="btn-wrap">
                    <span class="text-one">Post Comment</span>
                    <span class="text-two">Post Comment</span>
                </span>
                            </button>
                        </div>
                    </div>
                </form>


            </div>
            <!-- End Comment Form -->

        </div>
    </div>

    <section class="map-one">
        <div class="map-outer">
            <iframe class="map w-100"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
        </div>
    </section>

{% endblock %}