{% extends "website/base.html" %}

{% load static %}

{% block title %}
    Courses
{% endblock %}

{% block content %}

    <section class="page-title"
             style="background-image:url(' {% static "assets/images/background/page-title.jpg" %}');margin-top:100px">
        <div class="auto-container">
            <h2>Our Courses</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Our Courses</li>
            </ul>
        </div>
    </section>

    <section class="courses-two"
             style="background-image:url(' {% static "assets/images/background/courses-two_bg.png" %}')">
        <div class="auto-container">
            <div class="row clearfix">

                {% for course in courses %}
                    {% include 'website/include/course.html' %}
                {% empty %}
                    <p class="text-danger">No courses available right now.</p>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}