{% extends "website/base.html" %}

{% load static %}

{% block title %}
    Services
{% endblock %}

{% block content %}

    <section class="page-title"
             style="background-image:url(' {% static "assets/images/background/page-title.jpg" %}');margin-top:100px">
        <div class="auto-container">
            <h2>Our Services</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'website:home' %}">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </section>

    <section class="service-two">
        <div class="auto-container">
            <div class="row clearfix">

                {% if services %}
                    {% for service in services %}
                        <div class="service-block_two col-lg-4 col-md-6 col-sm-12">
                            <div class="service-block_two-inner wow fadeInLeft animated">
                                <div class="service-block_two-upper">
                                    <div class="service-block_two-icon {{ service.icon_class }}"></div>
                                    <div class="service-block_two-big_icon">
                                        <img src="{{ service.big_icon.url }}" alt="">
                                    </div>
                                    <h4 class="service-block_two-heading">
                                        <a href="{{ service.detail_page_url }}">{{ service.title }}<br>{{ service.subtitle }}
                                        </a>
                                    </h4>
                                    <div class="service-block_two-text">{{ service.description }}</div>
                                </div>
                                <div class="service-block_two-lower">
                                    <a class="service-block_two-more" href="{{ service.detail_page_url }}">
                                        Read More<i class="fa-solid fa-arrow-right fa-fw"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="mx-auto">
                        <p class="text-danger">No services available right now.</p>
                    </div>
                {% endif %}

            </div>

            {#            <!-- Styled Pagination -->#}
            {#            <ul class="styled-pagination text-center">#}
            {#                <li><a href="#" class="active">1</a></li>#}
            {#                <li><a href="#">2</a></li>#}
            {#                <li><a href="#">3</a></li>#}
            {#                <li class="next"><a href="#">next</a></li>#}
            {#            </ul>#}
            {#            <!-- End Styled Pagination -->#}

        </div>
    </section>

    <section class="cta-two">
        <div class="auto-container">
            <div class="inner-container d-flex justify-content-between align-items-center flex-wrap">
                <div class="cta-two_bg"
                     style="background-image:url(' {% static "assets/images/background/cta-one_bg.png" %}')"></div>
                <div class="cta-two_icon flaticon-nabawi-mosque"></div>
                <h3 class="cta-two_heading">Proud to be serving thousands of Muslim <br> Families around the World</h3>
                <!-- Button Box -->
                <div class="cta-two_button">
                    <a href="contact.html" class="theme-btn btn-style-three">
						<span class="btn-wrap">
							<span class="text-one">get in touch</span>
							<span class="text-two">get in touch</span>
						</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}