{% extends "website/base.html" %}

{% load static %}

{% block title %}
    Services
{% endblock %}

{% block content %}

    <section class="page-title" style="background-image:url(' {% static "assets/images/background/page-title.jpg" %}')">
        <div class="auto-container">
            <h2>Our Services</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </section>

    <section class="service-two">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Service Block One -->
                <div class="service-block_two col-lg-4 col-md-6 col-sm-12">
                    <div class="service-block_two-inner wow fadeInLeft animated" data-wow-delay="0ms"
                         data-wow-duration="1000ms"
                         style="visibility: visible; animation-duration: 1000ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                        <div class="service-block_two-upper">
                            <div class="service-block_two-icon flaticon-quran-1"></div>
                            <div class="service-block_two-big_icon">
                                <img src="{% static 'assets/images/icons/service-1.png' %}" alt="">
                            </div>
                            <h4 class="service-block_two-heading"><a href="service-detail.html">Online Quran <br>
                                Classes</a></h4>
                            <div class="service-block_two-text">There are many variations of passages of lorem ipsum
                                available lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="service-block_two-lower">
                            <a class="service-block_two-more" href="service-detail.html">Read More<i
                                    class="fa-solid fa-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Service Block One -->
                <div class="service-block_two col-lg-4 col-md-6 col-sm-12">
                    <div class="service-block_two-inner wow fadeInLeft animated" data-wow-delay="150ms"
                         data-wow-duration="1000ms"
                         style="visibility: visible; animation-duration: 1000ms; animation-delay: 150ms; animation-name: fadeInLeft;">
                        <div class="service-block_two-upper">
                            <div class="service-block_two-icon flaticon-pray"></div>
                            <div class="service-block_two-big_icon">
                                <img src="{% static 'assets/images/icons/service-1.png' %}" alt="">
                            </div>
                            <h4 class="service-block_two-heading"><a href="service-detail.html">Online Islamic <br>
                                Classes</a></h4>
                            <div class="service-block_two-text">There are many variations of passages of lorem ipsum
                                available lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="service-block_two-lower">
                            <a class="service-block_two-more" href="service-detail.html">Read More<i
                                    class="fa-solid fa-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Service Block One -->
                <div class="service-block_two col-lg-4 col-md-6 col-sm-12">
                    <div class="service-block_two-inner wow fadeInLeft animated" data-wow-delay="300ms"
                         data-wow-duration="1000ms"
                         style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                        <div class="service-block_two-upper">
                            <div class="service-block_two-icon flaticon-quran-2"></div>
                            <div class="service-block_two-big_icon">
                                <img src="{% static 'assets/images/icons/service-1.png' %}" alt="">
                            </div>
                            <h4 class="service-block_two-heading"><a href="service-detail.html">Expert Quran <br> Tutor</a>
                            </h4>
                            <div class="service-block_two-text">There are many variations of passages of lorem ipsum
                                available lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="service-block_two-lower">
                            <a class="service-block_two-more" href="service-detail.html">Read More<i
                                    class="fa-solid fa-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Service Block One -->
                <div class="service-block_two col-lg-4 col-md-6 col-sm-12">
                    <div class="service-block_two-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms"
                         style="visibility: hidden; animation-duration: 1000ms; animation-delay: 0ms; animation-name: none;">
                        <div class="service-block_two-upper">
                            <div class="service-block_two-icon flaticon-quran-5"></div>
                            <div class="service-block_two-big_icon">
                                <img src="{% static 'assets/images/icons/service-1.png' %}" alt="">
                            </div>
                            <h4 class="service-block_two-heading"><a href="service-detail.html">Quranic Junior <br>
                                Al-Hafiz</a></h4>
                            <div class="service-block_two-text">There are many variations of passages of lorem ipsum
                                available lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="service-block_two-lower">
                            <a class="service-block_two-more" href="service-detail.html">Read More<i
                                    class="fa-solid fa-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Service Block One -->
                <div class="service-block_two col-lg-4 col-md-6 col-sm-12">
                    <div class="service-block_two-inner wow fadeInRight" data-wow-delay="150ms"
                         data-wow-duration="1000ms"
                         style="visibility: hidden; animation-duration: 1000ms; animation-delay: 150ms; animation-name: none;">
                        <div class="service-block_two-upper">
                            <div class="service-block_two-icon flaticon-quran-4"></div>
                            <div class="service-block_two-big_icon">
                                <img src="{% static 'assets/images/icons/service-1.png' %}" alt="">
                            </div>
                            <h4 class="service-block_two-heading"><a href="service-detail.html">Quran <br>
                                Translation</a></h4>
                            <div class="service-block_two-text">There are many variations of passages of lorem ipsum
                                available lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="service-block_two-lower">
                            <a class="service-block_two-more" href="service-detail.html">Read More<i
                                    class="fa-solid fa-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Service Block One -->
                <div class="service-block_two col-lg-4 col-md-6 col-sm-12">
                    <div class="service-block_two-inner wow fadeInRight" data-wow-delay="300ms"
                         data-wow-duration="1000ms"
                         style="visibility: hidden; animation-duration: 1000ms; animation-delay: 300ms; animation-name: none;">
                        <div class="service-block_two-upper">
                            <div class="service-block_two-icon flaticon-boy"></div>
                            <div class="service-block_two-big_icon">
                                <img src="{% static 'assets/images/icons/service-1.png' %}" alt="">
                            </div>
                            <h4 class="service-block_two-heading"><a href="service-detail.html">Islamic Studies For <br>
                                Kids Course</a></h4>
                            <div class="service-block_two-text">There are many variations of passages of lorem ipsum
                                available lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="service-block_two-lower">
                            <a class="service-block_two-more" href="service-detail.html">Read More<i
                                    class="fa-solid fa-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Styled Pagination -->
            <ul class="styled-pagination text-center">
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="next"><a href="#">next</a></li>
            </ul>
            <!-- End Styled Pagination -->

        </div>
    </section>

    <section class="cta-two">
        <div class="auto-container">
            <div class="inner-container d-flex justify-content-between align-items-center flex-wrap">
                <div class="cta-two_bg" style="background-image:url(' {% static "assets/images/background/cta-one_bg.png" %}')"></div>
                <div class="cta-two_icon flaticon-nabawi-mosque"></div>
                <h3 class="cta-two_heading">Proud to be serving thousands of Muslim <br> Families around the World</h3>
                <!-- Button Box -->
                <div class="cta-two_button">
                    <a href="contact.html" class="theme-btn btn-style-three">
						<span class="btn-wrap">
							<span class="text-one">get in touch</span>
							<span class="text-two">get in touch</span>
						</span>
                    </a>
                </div>
            </div>
        </div>
    </section>



{% endblock %}